@import url("https://fonts.googleapis.com/css?family=Rubik:700&display=swap");
* {
  box-sizing: border-box;
}
*::before, *::after {
  box-sizing: border-box;
}

@font-face {
    font-family: 'ONE-Mobile-POP';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-POP.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

body {
  margin: 0;
  padding: 0;

  font-family: 'ONE-Mobile-POP';
}

.call-bg {
  background-image: url("../img/jouju_calling.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center; /* 요소를 수평 중앙으로 정렬 */
  align-items: center; /* 요소를 수직 중앙으로 정렬 */


}

.top_bar {

  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  display: flex;
  width: 100vw; 
  height: 10%;
  background-color: rgb(255, 106, 243);

  color: white;

  justify-content: space-between; /* 요소들 사이에 공간을 균등하게 배분 */
  align-items: center; /* 요소들을 수직 중앙 정렬 */
  padding: 10px 20px; /* top_bar 주위에 여백을 추가 */

}

.show {
  flex: 0.9; /* 나머지 공간을 모두 차지하도록 설정 */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*margin-top: 8%;
  margin-bottom: 10%;*/
}

.bottom {
  
   display: flex;
   justify-content: center; /* 버튼 사이에 공간을 균등하게 배분 */
   width: 100%; /* 전체 너비를 차지하도록 설정 */
   gap: 10%;

   
   
}

.wifi {
    width: 35px;
    height: 35px;
}

.batt {

    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.time {
    margin: 0 auto;
    text-align: center;
}


.battery {
    width: 35px;
    height: 35px;
    margin-left: 10px; /* 배터리 아이콘과 텍스트 사이의 왼쪽 마진 추가 */
}

button {
    /*position: fixed;
    bottom: 20%;
    right: 25%;*/
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: bottom;
    text-decoration: none;
    font-size: inherit;
    font-family: 'ONE-Mobile-POP';

    color: #000000;
  }
button.mic {

  display: inline-flex;
  align-items: center;

  font-weight: 400;
  color: #000000;
  
  padding: 1.5em 2.7em;
  background: green;
  border: 2px solid #13531c;
  border-radius: 0.75em;
  transform-style: preserve-3d;
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1);

  }
  
button.mic a {
    font-size: 32px;
    text-decoration-line: none;

    display: flex;
    align-items: center;
    color: white;
  }
  
button.mic::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #216d18;
    border-radius: inherit;
    box-shadow: 0 0 0 2px #13531c, 0 0.625em 0 0 #72ab6e;
    transform: translate3d(0, 0.75em, -1em);
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
  }
button.mic:hover {
    background: #348444;
    transform: translate(0, 0.25em);
  }
button.mic:hover::before {
    box-shadow: 0 0 0 2px #13531c, 0 0.5em 0 0 #72ab6e;
    transform: translate3d(0, 0.5em, -1em);
  }
button.mic:active {
    background: #ffe9e9;
    transform: translate(0em, 0.75em);
  }
button.mic:active::before {
    box-shadow: 0 0 0 2px #13531c, 0 0 #72ab6e;
    transform: translate3d(0, 0, -1em);
  }/*# sourceMappingURL=index.css.map */

button.end {
  display: inline-flex;
  align-items: center;

  font-weight: 400;
  color: #000000;
  
  padding: 1.5em 2.7em;
  background: rgb(237, 27, 27);
  border: 2px solid #960909;
  border-radius: 0.75em;
  transform-style: preserve-3d;
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1);
  }
  
button.end a {
    font-size: 32px;
    text-decoration-line: none;

    display: flex;
    align-items: center;
    color: white;
  }
  
button.end::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #cb0202;
    border-radius: inherit;
    box-shadow: 0 0 0 2px #960909, 0 0.625em 0 0 #c55653;
    transform: translate3d(0, 0.75em, -1em);
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
  }
button.end:hover {
    background: #ff5050;
    transform: translate(0, 0.25em);
  }
button.end:hover::before {
    box-shadow: 0 0 0 2px #b18597, 0 0.5em 0 0 #ffe3e2;
    transform: translate3d(0, 0.5em, -1em);
  }
button.end:active {
    background: #ffe9e9;
    transform: translate(0em, 0.75em);
  }
button.end:active::before {
    box-shadow: 0 0 0 2px #b18597, 0 0 #ffe3e2;
    transform: translate3d(0, 0, -1em);
  }/*# sourceMappingURL=index.css.map */

.mic-icon {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.hangup-icon {
   width: 60px;
  height: 60px;
  margin-right: 10px;
}