<!DOCTYPE html>
<html>
<head>
    <title>Your Friend JUJU</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Wav2Lip</h1>
    <p> Voice to Character Video</p>

    <video controls id="videoPlayer">
        <source src="{{ url_for('static', filename='video/neu.mp4') }}" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    
    <audio controls>
        <source src="{{ url_for('static', filename='audio/wav00.wav') }}" type="audio/wav">
        Your browser does not support the audio tag.
    </audio>

    <form method="post">
        <button type="submit" id="startButton" {% if inf_completed %}disabled{% endif %}>추론 시작</button>
    </form>
    {% if inf_completed %}
            <div id="message" style="display:none;">추론이 완료되었습니다. 결과 파일을 확인하세요.</div>

            <div>
                <video controls id="videoPlayer">
                    <source src="{{ url_for('static', filename='video/result_voice.mp4') }}" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
            
    {% else %}
        <div id="message" style="display:none;">추론 중입니다. 잠시만 기다려주세요.</div>
    {% endif %}
    </div>

</body>
</html>